#portada{
    text-align: center;
    background-color: aquamarine;
    height: 16rem;
}


/* nav{
    text-align: center;
    background-color: aliceblue;
} */

/* ul#menu{
    list-style: none;
}

ul#menu li{
    display: inline;
    margin-left: 4rem;
    text-decoration: none;
    font-weight: bold;
    background-color: lightslategray;
    padding: 1%;
    border-radius: 0.5rem;
} */

.nav-link{
    color: black !important;
}

.active{
    background-color: lightslategray !important;
    font-weight: bold;
    color: white !important;
}

#content{
    height: 40rem;
    /*background-color: lightgrey; */
    margin-top: 5%;
    /* margin: 0rem 5rem 0rem 5rem; */
}

#contact{
    width: 60%;
    margin: 0rem 15rem 0rem 15rem;
}

#projects{
    display: grid;
}

/* .card-body{
    background-color: white !important;
    border: 1px black solid;
} */

.project{
    background-color: white !important;
    border: 1px lightgray solid;
    border-radius: 5%;
}

.row{
    margin-top: 2%;
}

#foto{
    height: 11%;
    width: 11%;
    border-radius: 50%;
}

.nav{
    margin-top: 5%;
}

.pfp{
    margin-top: 2%;
}

.description{
   padding-left: 10em;
}

.image-placeholder {
    background-color: #eee;
    display: flex;
    height: 10em;
    margin-bottom: 1em;
    width: 13em;
}

.image-placeholder > h4 {
    align-self: center;
    text-align: center;
    width: 100%;
}

.card-text{
    min-height: 4em;
}