#portada{
    text-align: center;
    background-color: aquamarine;
    height: 16rem;
}


/* nav{
    text-align: center;
    background-color: aliceblue;
} */

/* ul#menu{
    list-style: none;
}

ul#menu li{
    display: inline;
    margin-left: 4rem;
    text-decoration: none;
    font-weight: bold;
    background-color: lightslategray;
    padding: 1%;
    border-radius: 0.5rem;
} */

.nav-link{
    color: black !important;
}

.active{
    background-color: lightslategray !important;
    font-weight: bold;
    color: white !important;
}

#content{
    height: 40rem;
    background-color: lightgrey;
    /* margin: 0rem 5rem 0rem 5rem; */
}

#contact{
    width: 40%;
    padding: 10% 5%;;
}